@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

.nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 115px;
}
.nav__container {
  display: flex;
  align-items: center;
  gap: 48px;
}
@media (max-width: 365px) {
  .nav__logo {
    height: 28px;
  }
}
.nav__cta {
  text-decoration: none;
  color: #2A7AE4;
  font-size: 1.6rem;
  border: 1px solid #2A7AE4;
  padding: 10px 70px;
}
@media (max-width: 768px) {
  .nav__cta {
    font-size: 1.4rem;
    padding: 5px 45px;
  }
}
@media (max-width: 425px) {
  .nav {
    gap: 40px;
  }
}

.input__container--buscar {
  background-color: #F5F5F5;
  width: 393px;
  height: 40px;
  font-size: 1.4rem;
  border-radius: 20px;
  border: none;
  padding: 12px 16px;
  color: #A2A2A2;
}
.input__container--buscar:focus {
  outline: 0;
}
@media (max-width: 768px) {
  .input__container--buscar {
    width: 272px;
  }
}
@media (max-width: 425px) {
  .input__container {
    display: none;
  }
}

.header__container {
  background-image: url(../img/Hero.png);
  width: 100%;
  height: 352px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .header__container {
    background-image: url(../img/Hero2.png);
    height: 352px;
  }
}
@media (max-width: 425px) {
  .header__container {
    background-image: url(../img/Hero3.png);
    height: 192px;
  }
}
.header__textos {
  position: absolute;
  top: 250px;
  padding: 10px 280px;
  color: white;
}
.header__textos--titulo {
  font-size: 5.2rem;
  margin-bottom: 16px;
}
@media (max-width: 425px) {
  .header__textos--titulo {
    font-size: 2.2rem;
    margin-bottom: 8px;
  }
}
.header__textos--parrafo {
  font-size: 2.2rem;
  margin-bottom: 32px;
}
@media (max-width: 425px) {
  .header__textos--parrafo {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
.header__textos--cta {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  background-color: #2A7AE4;
  padding: 16px;
}
@media (max-width: 425px) {
  .header__textos--cta {
    font-size: 1.4rem;
    padding: 12px;
  }
}
@media (max-width: 1440px) {
  .header__textos {
    padding: 10px 100px;
  }
}
@media (max-width: 1024px) {
  .header__textos {
    padding: 10px 50px;
  }
}
@media (max-width: 768px) {
  .header__textos {
    padding: 10px 25px;
  }
}
@media (max-width: 425px) {
  .header__textos {
    top: 180px;
    padding: 10px 10px;
  }
}

.productos1 {
  margin-top: 5rem;
  padding: 10px 270px;
}
.productos1__titulo {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: #464646;
}
.productos1__card1--nombre {
  font-size: 1.4rem;
  color: #464646;
  margin-top: 8px;
}
.productos1__card1--precio {
  font-size: 1.6rem;
  color: #464646;
  font-weight: 700;
  margin-top: 8px;
}
.productos1__card1--ver {
  text-decoration: none;
  font-size: 1.6rem;
  color: #2A7AE4;
  font-weight: 700;
  margin-top: 8px;
}

body {
  background-color: #F5F5F5;
}

/*# sourceMappingURL=style.css.map */
