@use "variables";

.productos1 {
    margin-top: 5rem;
    padding: 10px 270px;

    &__contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;

        @media (max-width:420px) {
            &--img {
                width: 156px;
                height: 174px;
            }

        }
    }

    &__titulo {
        font-size: 3.2rem;
        margin-bottom: 2rem;
        color: variables.$gris;

        @media (max-width:768px) {
            font-size: 2.2rem;
        }
    }

    &__card1 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 176px;
        height: 252px;

        &--nombre {
            font-size: 1.4rem;
            color: variables.$gris;
        }

        &--precio {
            font-size: 1.6rem;
            color: variables.$gris;
            font-weight: 700;
        }

        &--ver {
            text-decoration: none;
            font-size: 1.6rem;
            color: variables.$azul;
            font-weight: 700;
        }

        @media (max-width:425px) {
            width: 126px;

            .productos1__contenedor--img {
                width: 126px;
                height: 249px;
            }

            &--img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

    }

    @media (max-width:1440px) {
        padding: 10px 100px;
    }

    @media (max-width:1024px) {
        padding: 10px 50px;
    }

    @media (max-width:768px) {
        padding: 10px 25px;

        .productos1__card1:nth-child(n +5) {
            display: none;
        }

        &__contenedor--img {
            width: 164px;
            height: 174px;
        }

        &__card1--img {
            object-fit: cover;
            overflow: hidden;
        }
    }
}